@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 98%);
  --text-color-dark: hsl(200, 15%, 8%);
  --text-color-light: hsl(0, 0%, 52%);
}

.App.light{
  --bg-color-primary: hsl(0, 0%, 98%);
  --bg-color-secondary: hsl(0, 0%, 100%); 
  --text-color-primary: hsl(200, 15%, 8%);
  --text-color-secondary: hsl(0, 0%, 52%);
}

.App.dark{
  --bg-color-primary: hsl(207, 26%, 17%);
  --bg-color-secondary: hsl(209, 23%, 22%); 
  --text-color-primary: hsl(0, 0%, 100%);
  --text-color-secondary: hsl(0, 0%, 52%);
}

.App {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-color-primary);
  min-height: 100vh;
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
  
}

.container{
  width: 1170px;
  margin: 0 auto;
}

a{
  color: inherit;
  text-decoration: none;
}

main{
  flex-grow: 1;
    display: flex;
    flex-direction: column;
}