.select__wrapper{
    width: 200px;
    background-color: var(--bg-color-secondary);
    
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    z-index: 2;
}

.select__wrapper .select,
.select__wrapper .options li{
    cursor: pointer;
    padding: .8rem 1rem;
}

.select__wrapper .options{
    /* display: none; */
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background-color: var(--bg-color-secondary);
    display: block;
    width: 100%;    
    padding-left: 1rem;
    list-style: none;
    
}

.select__wrapper .options li{
    padding-top: .5rem ;
    padding-bottom: .5rem ;
}